#!/usr/bin/env bash

set -e

mise install
poetry config virtualenvs.create true --local
poetry env use {{ python_version }}
poetry install



echo "Initializing git repo..."
git init
git add .
git commit -m "Initial commit from template"

echo "Remember to create a GitHub repo and push to it."

pre-commit install
